APP_PORT = XXX

SPOTIFY_CLIENT_ID = XXX
SPOTIFY_CLIENT_SECRET = XXX
SPOTIFY_REFRESH_TOKEN = XXX

PUBLIC_SUPABASE_URL = XXX
PUBLIC_SUPABASE_ANON_KEY = XXX

SUPABASE_CONNECTION_STRING = XXX

MAIL_SECRET = XXX
MAIL_PASSWORD = XXX
MAIL_SERVER = XXX@XXX.XX
MAIL_ME = XXX@XXX.XX
MAIL_NO_REPLY = XXX@XXX.XX