---
title: 'Not Obskurra'
order: 5
description: 'This is not a variable typeface with no images. Sad story'
tags: ['Not', 'Tag', 'Interactive']
thumbnail: ''
media: ['obskurra/void.mp4']
published: true
---

# This is a title

this is a description
