---
title: 'Obskurra Typeface'
order: 4
description: 'Creating a variable typeface from scratch and exploring web interactions and animations. reating a variable typeface from scratch and exploring web interactions and animations. reating a variable typeface from scratch and exploring web interactions and animations'
tags: ['Typography', 'Web', 'Interactive']
thumbnail: 'obskurra/boys.png'
media: ['obskurra/void.mp4', 'obskurra/typeset.png', 'obskurra/lady.png']
published: true
---

# This is a title

this is a description
