@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ease-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transition-quart {
	transition-duration: 400ms;
	transition-timing-function: var(--ease-quart);
}

html {
	width: 100%;
	max-width: 100%;
	height: 100%;
}

body {
	width: 100%;
	max-width: 100%;
	min-height: 100%;
}

.dialog-open {
	overflow: hidden !important;
	overscroll-behavior: contain;
	position: relative !important;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0px !important;
}

@layer utilities {
	.growing-underline {
		background-size: 0% 1px;
		background-position: 100% 100%;
		background-image: linear-gradient(to right, currentColor, currentColor);
		transition: background-size cubic-bezier(0.4, 0, 0.2, 1) 150ms;
		@apply bg-no-repeat;
	}

	.growing-underline:hover,
	.growing-underline:focus {
		background-position: 0% 100%;
		background-size: 100% 1px;
	}

	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.readable {
		@apply max-w-[60ch];
	}

	/* displace Effect -------------------------------------------------- */
	.displace.word .char-wrapper {
		display: inline-grid;
		position: relative;
		overflow: hidden;
	}
	.displace.word .char-wrapper .char,
	.displace.word .char-wrapper::before,
	.displace.word .char-wrapper::after {
		transition-property: transform;
		transition-timing-function: var(--ease-quart);
		transition-duration: 400ms;
	}
	.displace.word .char-wrapper::before,
	.displace.word .char-wrapper::after {
		display: block;
		content: attr(data-char);
		position: absolute;
	}
	.displace.word .char-wrapper::before {
		top: -100%;
	}
	.displace.word .char-wrapper::after {
		top: 100%;
	}

	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(odd)
		.char,
	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(odd)::before,
	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(odd)::after,
	.displace.word:hover .char-wrapper:nth-child(odd) .char,
	.displace.word:hover .char-wrapper:nth-child(odd)::before,
	.displace.word:hover .char-wrapper:nth-child(odd)::after {
		transform: translateY(-100%);
	}

	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(even)
		.char,
	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(even)::before,
	.group\/displace-selector:hover
		.displace.word
		.char-wrapper:nth-child(even)::after,
	.displace.word:hover .char-wrapper:nth-child(even) .char,
	.displace.word:hover .char-wrapper:nth-child(even)::before,
	.displace.word:hover .char-wrapper:nth-child(even)::after {
		transform: translateY(100%);
	}

	.mask {
		background: hsl(var(--drds-blue-6));
		background:
			linear-gradient(
					180deg,
					hsl(var(--drds-purple-6)) 0%,
					hsl(var(--drds-purple-6) / 0) 50%
				)
				400%,
			linear-gradient(
				270deg,
				hsl(var(--drds-orange-6)) 0%,
				hsl(var(--drds-orange-6) / 0) 50%
			),
			linear-gradient(
				370deg,
				hsl(var(--drds-blue-6)) 0%,
				hsl(var(--drds-blue-6) / 0) 50%
			),
			linear-gradient(
				90deg,
				hsl(var(--drds-green-6)) 0%,
				hsl(var(--drds-green-6) / 0) 50%
			);
	}
}
