@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
    .cstmx {
        font-variation-settings: 'xpr3' 500;
    }

    .cstmx-animate {
        font-variation-settings: 'xpr3' 0;
        transition: font-variation-settings 500ms ease-in-out;
    }
    .cstmx-animate:hover {
        font-variation-settings: 'xpr3' 500;
    }

    .growing-underline {
        background-size: 0% 1px;
        background-position: 100% 100%;
        background-image: linear-gradient(to right, currentColor, currentColor);
        transition: background-size cubic-bezier(0.4, 0, 0.2, 1) 150ms;
        @apply bg-no-repeat;
    }

    .growing-underline:hover,
    .growing-underline:focus {
        background-position: 0% 100%;
        background-size: 100% 1px;
    }

    .growing-underline-tabs > * {
        background-size: 0% 1px;
        background-position: 100% 100%;
        background-image: linear-gradient(to right, currentColor, currentColor);
        transition: background-size cubic-bezier(0.4, 0, 0.2, 1) 150ms;
        @apply bg-no-repeat;
    }

    .growing-underline-tabs.reversed > * {
        background-position: 0% 100%;
    }

    .growing-underline-tabs.selected > * {
        background-size: 100% 1px;
    }

    /*
    Wait for Radix Support (https://github.com/radix-ui/primitives/pull/859)
    @keyframes fadeInLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes fadeOutLeft {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .fade-in[data-state='active'] {
        animation: fadeInLeft 300ms ease-out;
    }

    .fade-out[data-state='inactive'] {
        animation: fadeOut 300ms ease-out;
    }
    */
}
