@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .growing-underline {
        background-size: 0% 1px;
        background-position: 0 100%;
        background-image: linear-gradient(to right, currentColor, currentColor);
        @apply bg-no-repeat;
    }
    .growing-underline:hover,
    .growing-underline:focus {
        background-size: 100% 1px;
    }
}
